---
layout: default
---

<div class="home">

    <!-- RSS Subscribe -->
    <p class="rss-subscribe u-pull-right">
        RSS <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
    </p>

    <!-- Page Title -->
    <h1 class="post-title">Posts</h1>

    <!-- Post List -->
    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>&nbsp;<i class="fa fa-comment"></i></span>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
            <hr>
        </li>
        {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&larr;</a>
        {% else %}
        <span class="previous"></span>
        {% endif %}
        <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&rarr;</a>
        {% else %}
        <span class="next "></span>
        {% endif %}
    </div>
</div>
