---
layout: default
---
<div class="post">
    <!-- post header
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <!-- main content
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <article class="post-content">
        {{ content }}
    </article>

    <!-- social buttons
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row social">
        <!-- Twitter -->
        <a href="http://twitter.com/home?status={{site.url}}{{site.baseurl}}{{page.url}}" title="Share on Twitter" target="_blank" class="button btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
        <!-- Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{site.baseurl}}{{page.url}}" title="Share on Facebook" target="_blank" class="button btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url={{site.url}}{{site.baseurl}}{{page.url}}" title="Share on Google+" target="_blank" class="button btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{site.baseurl}}{{page.url}}&title={{site.title}}&summary={{site.description}}" title="Share on LinkedIn" target="_blank" class="button btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>

    <hr>

    <!-- comments
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <h1>Comments</h1>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'theshka';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the comments <a href="https://disqus.com/?ref_noscript" rel="nofollow">powered by Disqus.</a></noscript>

</div>
